<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="wholePage">
    <div>
        <h1 class="centerText">Sugar Content</h1>
        <h2 class="centerText">How much sugar is in each food item?</h2>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
