@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .noBorder{
        border: 0px;
    }
</style>
<div class="mainTable">
    <table  style="border: 2px solid black;">
            <tr>
                <th class="ItemType">Snacks</th>
            <th class="ItemType">Jank Food</th>
            <th class="ItemType">Drinks</th>
            <th class="ItemType">Fruit</th>
            </tr>
        <tr>
            <th style="background-color: red"><a asp-page="/kitkat">KitKat</a></th>
            <th style="background-color: darkgoldenrod">Hamburger</th>
            <th style="background-color: lawngreen"><a asp-page="/monster">Monster</a></th>
            <th style="background-color: green"> Apple </th>
        </tr>

        <tr>
            <th style="background-color: deeppink">Ice Cream</th>
            <th style="background-color: goldenrod"> Fries</th>
            <th class="noBorder"></th>
            <th class="noBorder"></th>
        </tr>
        <tr>
            <th style="background-color: darkblue"> Oreo </th>
            <th class="noBorder"></th>
            <th class="noBorder"></th>
            <th class="noBorder"></th>
        </tr>
        <tr>
           
        </tr>
        </table>      
</div>
<div class="centerText">
    <br />
    <img src="~/img/images.jfif" />
</div>
