@page
@model ExamIdoKeysar.Pages.monsterModel
@{
}


<div class="centerText">
    <br />
    <div class="itemTitle">
        <div class="underLine">
            Monster Energy Drink
        </div>

        <br />

        1 can

    </div>
    <img style="width:250px" src="~/img/monster.webp" />

    <div class="footerCalories">
        <div class="caloriesCircle"> 250 </div>
        <div style="padding:10px">20 teaspoons</div>
    </div>
    <div  class="itemTitle">
        <a style="text-decoration:none" asp-page="/index">Home</a>
    </div>
</div>